{% load static %}
<div class="single-sidebar-widget user-info-widget">
  <img src="{% static 'img/blog/user-info.jpg' %}" alt="" />
  <a href="#"><h4>Samira Dorchalian</h4></a>
  <p>Python/Django Developer</p>
  <ul class="social-links">
    <li>
      <a
        href="https://www.linkedin.com/in/samira-dorchalian-a61789219/"
        target="_blank"
        class="me-3 text-primary"
      >
        <i class="bi bi-linkedin fs-5"></i>
      </a>
    </li>
    <li>
      <a
        href="https://github.com/SamiraDorchalian"
        target="_blank"
        class="me-3 text-dark"
      >
        <i class="bi bi-github fs-5"></i>
      </a>
    </li>
    <li>
      <a
        href="https://www.instagram.com/af.ha.sa?igsh=MXgyZzF6OHdrM24xcQ%3D%3D&utm_source=qr"
        target="_blank"
        class="me-3 text-danger"
      >
        <i class="bi bi-instagram fs-5"></i>
      </a>
    </li>
    <li>
      <a
        href="https://www.facebook.com/share/1ADKvZHpH7/?mibextid=wwXIfr"
        target="_blank"
        class="text-primary"
      >
        <i class="bi bi-facebook fs-5"></i>
      </a>
    </li>
  </ul>
  <p>
    This blog is a place for sharing notes and experiences from my journey in
    web development and data.
  </p>
</div>
