{% load static %}
<div class="single-sidebar-widget newsletter-widget">
    <h4 class="newsletter-title">Newsletter</h4>
    <p>Stay informed with exclusive updates, insights, and latest projects delivered directly to your inbox. Join my newsletter to never miss an opportunity.</p>
    <form method="post" action="{% url 'blog:newsletter_subscribe' %}" class="form-group d-flex flex-row">
      {% csrf_token %}
      <div class="col-autos">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fa fa-envelope" aria-hidden="true"></i>
            </div>
          </div>
          <input 
            type="email" 
            name="email" 
            class="form-control" 
            id="inlineFormInputGroup" 
            placeholder="Enter email" 
            onfocus="this.placeholder = ''" 
            onblur="this.placeholder = 'Enter email'" 
            required
          />
        </div>
      </div>
      <button type="submit" class="bbtns">Subscribe</button>
    </form>
    <p class="text-bottom"></p>

    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
</div>